# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [8]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [9]:
weatherpy_data = pd.read_csv("../WeatherPy/output_data/cities.csv")

# Drop unnamed column (unnecessary)

weatherpy_df = weatherpy_data.drop(columns=["Unnamed: 0"])

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [10]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Use the Lat and Lng as locations and Humidity as the weight
locations = weatherpy_df[['Latitude','Longtitude']]
humidity = weatherpy_df['Humidity'].astype(float)

fig = gmaps.figure()

heatmap = gmaps.heatmap_layer(locations, weights = humidity,
                             dissipating = False, max_intensity = 10,
                             point_radius = 1)

# Add heatmap layer to the map
fig.add_layer(heatmap)
# display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [11]:
ideal_cities = pd.DataFrame(weatherpy_data, columns = ["City", "Country", "Latitude", "Longtitude", "Max Temp", "Humidity", "Cloudiness"])

max_temp = (ideal_cities["Max Temp"] <= 90) & (ideal_cities["Max Temp"] >= 50)
humidity = (ideal_cities["Humidity"] < 50)
cloudiness = (ideal_cities["Cloudiness"] <= 50)
lat_ideal = (ideal_cities["Latitude"])
long_ideal= (ideal_cities["Longtitude"])

ideal_cities_df= ideal_cities[max_temp & humidity & cloudiness]
ideal_cities_df

,City,Country,Latitude,Longtitude,Max Temp,Humidity,Cloudiness
19,Bonanza,NI,14.0289,-84.5910,87.51,37,7
85,Adrar,MR,20.5022,-10.0711,79.07,12,0
89,Solapur,IN,17.6833,75.9167,74.68,28,13
133,Malumfashi,NG,11.7853,7.6218,75.31,17,2
141,Ukwā,IN,21.9667,80.4667,63.16,31,0
145,Mayahi,NE,13.9553,7.6712,80.02,14,0
174,Kidal,ML,18.4411,1.4078,81.70,13,0
190,Cocorit,MX,27.5833,-109.9667,69.80,46,20
205,Hīt,IQ,33.6416,42.8251,64.00,39,0
219,Shwebo,MM,22.5667,95.7000,69.15,42,0
236,Lázaro Cárdenas,MX,17.9583,-102.2000,77.72,49,19
240,Phalodi,IN,27.1333,72.3667,66.78,23,0
257,Jalu,LY,29.0331,21.5482,57.97,36,0
261,Araouane,ML,18.9048,-3.5265,81.50,13,0
266,Tomatlán,MX,19.9333,-105.2500,80.22,36,36
276,Maţāy,EG,28.4190,30.7792,61.11,36,0
310,Rawson,AR,-43.3002,-65.1023,85.78,38,26
317,Dehlorān,IR,32.6941,47.2679,62.56,37,0
369,Tessalit,ML,20.1986,1.0114,75.70,16,3
376,Atar,MR,20.5169,-13.0499,83.95,11,0
381,Bilma,NE,18.6853,12.9164,73.98,19,0
385,Bani Walid,LY,31.7566,13.9942,62.17,45,0
394,Comodoro Rivadavia,AR,-45.8667,-67.5000,82.40,14,0
398,Coyhaique,CL,-45.5752,-72.0662,66.20,39,40
425,Barra,BR,-11.0894,-43.1417,89.01,43,43
429,La Quinta,US,33.6634,-116.3100,68.00,45,1
447,Buraidah,SA,26.3260,43.9750,69.80,46,40
476,Gogrial,SS,8.5332,28.1004,85.46,15,43
484,Iranshahr,IR,27.2025,60.6848,64.40,20,0
487,Tura,IN,25.5198,90.2201,62.94,46,0
489,Aketi,CD,2.7388,23.7833,83.50,27,6
496,Wagar,SD,16.1525,36.2032,79.03,42,0
498,Goundam,ML,16.4145,-3.6708,86.02,12,0
518,Taoudenni,ML,22.6783,-3.9836,81.19,13,0
539,Mora,CM,11.0461,14.1401,76.14,17,3
552,Quilmaná,PE,-12.9500,-76.3833,80.44,49,12
554,Tlaxco,MX,19.6167,-98.1167,60.80,20,1
563,Gambo,CF,4.6482,22.2633,81.14,22,34

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [15]:
hotel_df = pd.DataFrame(ideal_cities_df, columns =["City", "Country", "Latitude", "Longtitude"])

hotel_df["Hotel Name"] = ""
hotel_df.head()

           City Country  Latitude  Longtitude Hotel Name
19      Bonanza      NI   14.0289    -84.5910
85        Adrar      MR   20.5022    -10.0711
89      Solapur      IN   17.6833     75.9167
133  Malumfashi      NG   11.7853      7.6218
141        Ukwā      IN   21.9667     80.4667

In [16]:
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

for index, row in hotel_df.iterrows():
    lat = row["Latitude"]
    lng = row["Longtitude"]
    
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    print(f"Retrieving Results for Index {index}: {row['City']}.")
    response = requests.get(base_url, params=params).json()
    
    results = response['results']
    
    try:
        print(f"Closest hotel is {results[0]['name']}.")
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 19: Bonanza.
Closest hotel is Edificio Administrativo HEMCO.
------------
Retrieving Results for Index 85: Adrar.
Missing field/result... skipping.
------------
Retrieving Results for Index 89: Solapur.
Closest hotel is SPOT ON 43891 Vinayak Lodge SPOT.
------------
Retrieving Results for Index 133: Malumfashi.
Closest hotel is INFINITY CYBER CAFE MALUMFASHI.
------------
Retrieving Results for Index 141: Ukwā.
Closest hotel is Chouksey Hotel & Rajat Transport.
------------
Retrieving Results for Index 145: Mayahi.
Missing field/result... skipping.
------------
Retrieving Results for Index 174: Kidal.
Missing field/result... skipping.
------------
Retrieving Results for Index 190: Cocorit.
Closest hotel is Kaba Motel.
------------
Retrieving Results for Index 205: Hīt.
Closest hotel is صالون زيرو.
------------
Retrieving Results for Index 219: Shwebo.
Closest hotel is MOON SHINE Guest House.
------------
Retrieving Results for Index 236: Lázaro Cárdenas.
Closest hotel is Collection O Hotel Quinta Antigua.
------------
Retrieving Results for Index 240: Phalodi.
Closest hotel is HOTEL NEW GOLDEN PALACE , PHALODI.
------------
Retrieving Results for Index 257: Jalu.
Closest hotel is صاحبة الفخامة.
------------
Retrieving Results for Index 261: Araouane.
Missing field/result... skipping.
------------
Retrieving Results for Index 266: Tomatlán.
Closest hotel is Norma franco.
------------
Retrieving Results for Index 276: Maţāy.
Closest hotel is Nag Aespen.
------------
Retrieving Results for Index 310: Rawson.
Closest hotel is Hosteria Sampedro.
------------
Retrieving Results for Index 317: Dehlorān.
Closest hotel is کافه گیم استورم.
------------
Retrieving Results for Index 369: Tessalit.
Missing field/result... skipping.
------------
Retrieving Results for Index 376: Atar.
Closest hotel is Oumou Elghoura.
------------
Retrieving Results for Index 381: Bilma.
Closest hotel is Expeditions Ténére voyages.
------------
Retrieving Results for Index 385: Bani Walid.
Closest hotel is منزل الصابر أبوفانة.
------------
Retrieving Results for Index 394: Comodoro Rivadavia.
Closest hotel is Austral Hotel.
------------
Retrieving Results for Index 398: Coyhaique.
Closest hotel is Diego De Almagro Coyhaique.
------------
Retrieving Results for Index 425: Barra.
Closest hotel is Motel Albatroz.
------------
Retrieving Results for Index 429: La Quinta.
Closest hotel is Embassy Suites by Hilton La Quinta Hotel & Spa.
------------
Retrieving Results for Index 447: Buraidah.
Closest hotel is Mövenpick Hotel Qassim.
------------
Retrieving Results for Index 476: Gogrial.
Missing field/result... skipping.
------------
Retrieving Results for Index 484: Iranshahr.
Closest hotel is نیک سرشت.
------------
Retrieving Results for Index 487: Tura.
Closest hotel is Hotel RIKMAN Continental.
------------
Retrieving Results for Index 489: Aketi.
Missing field/result... skipping.
------------
Retrieving Results for Index 496: Wagar.
Missing field/result... skipping.
------------
Retrieving Results for Index 498: Goundam.
Missing field/result... skipping.
------------
Retrieving Results for Index 518: Taoudenni.
Missing field/result... skipping.
------------
Retrieving Results for Index 539: Mora.
Closest hotel is Hotel Emergence.
------------
Retrieving Results for Index 552: Quilmaná.
Closest hotel is HOSPEDAJE PARAISO.
------------
Retrieving Results for Index 554: Tlaxco.
Closest hotel is Hacienda Santa María Xalostoc.
------------
Retrieving Results for Index 563: Gambo.
Missing field/result... skipping.
------------

In [17]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_df = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

TypeError: list indices must be integers or slices, not list

In [ ]:
# Add marker layer ontop of heat map


# Display figure